@media (max-width: 1024px) {
    .header {
        padding: 16px 40px;
    }

    .logo {
        margin-right: 40px;
        font-size: 28px;
    }

    .promo-image {
        max-width: 40%;
    }

    .promo-content {
        padding: 250px 40px 40px 40px;
        max-width: 50%;
    }

    .promo h1 {
        font-size: 60px;
    }

    .promo p {
        font-size: 36px;
    }


    .features {
        grid-template-columns: 1fr;
        padding: 60px 40px;
    }

    .feature-item {
        width: 100%;
    }

    .feature-image-one,
    .feature-image-two {
        height: 400px;
    }

    .contact-wrapper {
        padding: 0 40px 60px 40px;
    }

    .contact {
        flex-direction: column;
        gap: 30px;
    }

    .contact-form {
        width: 100%;
        padding: 40px;
    }

    .contact-form h2 {
        font-size: 42px;
    }

    .contact-image {
        width: 100%;
        height: 400px;
    }

    .footer-main {
        padding: 40px;
    }
}


@media (max-width: 768px) {
    .header {
        padding: 12px 20px;
    }

    .nav-menu {
        display: none;
    }

    .logo {
        margin-right: 0;
        font-size: 24px;
    }

    .promo {
        flex-direction: column;
        align-items: center;
    }

    .promo-content {
        padding: 90px 20px 40px 20px;
        max-width: 100%;
    }

    .promo h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .promo p {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .stat-item {
        font-size: 18px;
    }

    .stat-item span {
        font-size: 28px;
    }

    .promo-image {
        max-width: 100%;
    }

    .features {
        padding: 40px 20px;
    }

    .features-list {
        padding: 20px;
        gap: 20px;
    }

    .feature-item {
        gap: 10px;
    }

    .feature-item p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .contact-wrapper {
        padding: 0 20px 40px 20px;
    }

    .contact-form {
        padding: 30px 20px;
    }

    .contact-form h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .btn-submit {
        padding: 20px;
        font-size: 20px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
    }

    .footer-main {
        padding: 30px 20px;
    }

    .footer-top {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    .footer-social-links {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .btn-order,
    .btn-feature,
    .btn-footer {
        width: 100%;
        padding: 20px;
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .promo {
        display: block;
    }

    .promo-stats {
        width: 300px;
    }

    .promo h1 {
        font-size: 20px;
    }

    .promo p {
        font-size: 18px;
    }

    .stat-item {
        font-size: 15px;
    }

    .stat-item span {
        font-size: 18px;
    }

    .contact-form h2 {
        font-size: 20px;
    }

    .footer-bottom-copyright p {
        font-size: 18px;
    }

    .footer-bottom a {
        font-size: 18px;
    }
}